/*-----------MODIFICA A TODA LA WEB---------*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    background: #222;
    color: #e0e0e0;
    max-width: 1520px;
}
h2{
    margin: 50px;
    font-size: 50px;
    opacity: 0.3;
}
h3{
    font-size: 40px;
    color: #222;
}
/*-----------MODIFICANDO EL MENU---------*/
.menu{
    position: relative;
    display: flex;
    justify-content: center;
}
.banner{
    width: 100vw;
    position: relative;
    z-index: 2;
}
/*-----------MODIFICANDO LA BARRA DE NAVEGACIÓN---------*/
.navbar{
    height: 15vh;
    width: 80%;
    margin-top: 30px;
    background-color: rgba(49, 49, 49, 0.4);
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 20;
    position: absolute;
}
.navbar-list{
    list-style: none;
    justify-content: end;
}
.navbar-items{
    display: inline-block;
    padding: 10px; 
}
.navbar-links{
    text-decoration: none;
    color: #e0e0e0;
    font-size: 16px; 
    font-weight: 500;
}
/*----------LOGO DENTRO DEL NAV-----------*/
.logo{
    width: 5vw;
    margin-left: 10px;
    transition: all 0.3s;
    justify-content: start;
}
.logo:hover{
    transform: scale(1.2);
}
/************************INDEX***************************/

/*--------MODIFICANDO EL MAIN-------*/
main{
   display: flex;
   justify-content: center;
}
/*--------------NOTAS-------------*/
.seccion-notas{
    width: 65%;
    display: inline-block;   
}
article{
    display: inline-block;
    margin: 3em 1em;
    width: 45%;
}
.img-article{
    width: 100%;
}
/*-------------ASIDE--------------*/
.torneo-partido{
    display: inline-block;
    font-weight: 700;
}
.dia-partido{
    display: inline-block;
    margin-left: 1em;
}
.aside-conteiner{
    width: 25%;
    display: inline-block;
    justify-content: end;
}
.partido-aside{
    width: 100%;
    padding: 2em 1em;
    font-size: 12px;
    box-shadow: 0px 0px 8px #444;
}
.estadio-partido{
    font-weight: 400;
    margin-bottom: 2em;
}
.equipos-partido{
    display: flexbox;
    justify-content: center;
}
.img-aside{
    width: 25%;
}
.sponsors{
    width: 100%;

}
.img-sponsor{
    width: 100%;
}

/************************LOCAL***************************/

/*------------------MASCULINO/FEMENINO----------------*/
.titulos{
    text-align: center; /* yo centraría los títulos así */
}
.masculino{
    width: 100%; /* para que ocupe todo el ancho de la pantalla */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; /* Esto para que queden el div con los textos, las imgs y los nombres de los clubes uno abajo del otro */
    
}
.partido-local{
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    
}

.p-equipos-partido{
   display: inline-block;
   margin-top: 1rem;
   font-size: 1.5em;

}
.img-local{
    width: 8rem;
    filter: drop-shadow(2px 2px 4px #444);
}
.num-fecha{
    font-size: 50px;
    justify-content: end;
    align-self: start;
}
.tabla{
    display: flex;
    width: 100vw;
    justify-content: center;
    margin: 80px 0;
}
.tabla_posiciones{
    width:80vw;
}
.container-fecha{
    width: 500px;
    margin: 0 auto;
    padding: 50px 0;
    background-color: rgba(49, 49, 49, 0.4);
    border-radius: 15px;
}
.fecha-partido{
    display: flex;
    justify-content: center;
    align-items: center;
}
.img-fecha{
    width: 30%;
}
.p-fecha{
    font-size: 36px;
    font-weight: 500;
    margin: 0 20px;
}
.container-lista{
    display: flex;
    justify-content: space-around;

}
/*---------------REGIONAL-----------------*/
.container-fase1{
    margin: 50px 25px;
}
.tabla-fase1{
    background-color: #555;
    padding: 20px;
}
td{
    padding: 10px;
}
th{
    border-bottom: 1px solid #e0e0e0;
}
.td-osc{
    background-color: #444;
}
.segunda-ronda{
    margin: 50px 25px;
}
.fixture{
    margin: 50px 0;
    display: flex;
    justify-content: center;
}
.img-fixture{
    width: 80vw;
}
.partido-2{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width:50%;
    margin: 0 auto;
}
.img-partido{
    width: 150px;
}
.logo-fase{
    width: 25px;
}
.container-equipo{
    display: flex;
    padding: 25px;
    margin: 10px;
}
.img-container-equipo{
    display: inline;
    margin: 10px;
    padding: 15px;
    width: 500px;
/*     border-left: 1px solid #555; */
    border-radius: 8px;
    box-shadow: 2px 2px 2px #555;
    transition: all 0.3s;
}
.img-container-equipo:hover{
    transform: scale(1.1);
}
.img-jugadores{
    width:250px;
}
.lista-equipo{
    display: inline-block;
    margin-left: 50px;
}
.flex-container-registro{
    display: flex;
    align-items: center;
    justify-content: center;
/*     flex-wrap: wrap;  */
    width: 80%;
    margin: 75px auto;
    background-color: #555;
    padding: 15px;
    background-image: linear-gradient(to right, rgb(195, 195, 195), rgba(0, 0, 0, 0.765));
    box-shadow: 0px 0px 4px #888;
}
.container-info-registro{
    width:50%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}
.info-registro{
    margin: 50px 0px;
    text-align: center;
    width: 50%;
}
.formulario{
    min-width: 400px;
}
.input-registro{
    width: 100%;
    border: none;
    padding: 10px 0px;
    background: transparent;
    border-bottom: 2px solid rgb(255, 255, 0);
    color: #e0e0e0;
}
.input-registro:focus{
    background: linear-gradient(to bottom, transparent, #222);
    outline: none;
    border-bottom: 2px solid rgb(255, 221, 0);
    color: #e0e0e0;
}
.img-registro{
    width: 500px;
    margin: 15px 0 ;
}
.img-registro img{
    width: 100%;
    background-image: linear-gradient(to right, rgb(82, 81, 81), rgba(63, 63, 63, 0.081));
}
.seccion-registro{
    width: 100%;
    border: none;
    padding: 10px 0px;
    background: transparent;
    border-bottom: 2px solid rgb(255, 255, 0);
    color: #888;
}
.seccion-registro::-ms-expand{
    display: none;  
}
.seccion-registro:hover{
    background: transparent;
    border-bottom: 2px solid rgb(255, 255, 0);
}
.input-seccion{
    background: transparent;
    border-bottom: 2px solid rgb(255, 255, 0);
}
.boton-enviar{
    background-color: rgb(255, 255, 0);
    border-bottom: none;
    padding: 8px;
    margin-top: 35px;
    color: #222;
}
.boton-enviar:focus{
    background-color: rgb(255, 221, 0);
}
/*-------------FOOTER--------------*/
footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
    width: 100vw;
    background-color:  rgb(255, 255, 0);

}
.footer-h5{
    margin: 0 auto;
    color: #222;
    font-weight: 800;
}
.redes-items{
    width: 50px;
    justify-content: end;
    margin-right: 10px;
}